input,
        select {
            border: 1px solid #777;
            background-color: #fff
        }
        
        .input_checkbox {
            border: 0
        }
        
        *,
        :after,
        :before {
            box-sizing: border-box
        }
        
        body,
        dd,
        dl,
        dt,
        form,
        h1,
        h2,
        img,
        li,
        p,
        ul {
            margin: 0;
            padding: 0
        }
        
        img {
            vertical-align: middle;
            outline: 0;
            border: none
        }
        
        body,
        html,
        input,
        select {
            font-size: 16px;
            line-height: 150%;
            font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif
        }
        
        body {
            -webkit-backface-visibility: hidden;
            background-color: #f0fafd;
            color: #444;
            font-weight: 300;
            line-height: 150%;
            padding-top: 87px
        }
        
        h1,
        h2 {
            font-weight: 600;
            line-height: 140%
        }
        
        h1 {
            font-size: 1.625rem;
            margin-bottom: 1.25rem
        }
        
        h2 {
            font-size: 1.5rem;
            margin-bottom: .9375rem
        }
        
        p {
            margin: 0 0 1rem
        }
        
        #id_esauth_myaccount_login_link,
        .button,
        .essayshark_stat li b,
        .font-dosis,
        .nav-link,
        button,
        h1,
        h2 {
            font-family: Dosis, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif
        }
        
        input[type=text],
        select {
            background-color: #fff;
            border: 1px solid #c5c6c1;
            box-shadow: none;
            display: inline-block;
            font-size: 12px;
            height: 32px;
            padding: 0 10px;
            position: relative;
            vertical-align: middle;
            width: 100%;
            border-radius: 0
        }
        
        .btn_f_submit,
        .button,
        button {
            background-color: #1695a4;
            background-image: none;
            border: none;
            box-shadow: none;
            color: #fff;
            display: inline-block;
            font-size: 1rem;
            font-weight: 700;
            margin: 0;
            padding: 10px 25px;
            position: relative;
            border-radius: 3px
        }
        
        li {
            margin-bottom: .5rem
        }
        
        .small-button {
            font-size: .875rem;
            padding: 4px 20px
        }
        
        .opacity-visible {
            opacity: 1
        }
        
        .center {
            text-align: center
        }
        
        .fl-right {
            float: right
        }
        
        a {
            text-decoration: none;
            color: #3a86b0
        }
        
        .choose-us-block .icon:after,
        .computer span,
        .computer span:after,
        .computer span:before,
        .keyboard,
        .main-menu li.close-menu:before,
        .section-stats .graph {
            background-image: url(https://cdn3.essayshark.com/w3t_img/images/sprite.svg);
            background-repeat: no-repeat no-repeat
        }
        
        .container {
            margin: 0 auto;
            max-width: 1100px;
            min-width: 280px;
            padding: 0
        }
        
        .es-modal {
            -webkit-backface-visibility: hidden;
            height: auto;
            left: 50%;
            margin-left: -175px;
            position: fixed;
            top: 25%;
            visibility: hidden;
            width: 350px;
            z-index: 2000
        }
        
        .dialog-whats-next.es-modal {
            margin-left: -250px;
            width: 500px
        }
        
        .es-effect-slide .es-content {
            opacity: 0;
            -webkit-transform: scale(.7)
        }
        
        .es-close {
            font-size: 1.5rem;
            line-height: 22px;
            margin-top: -10px;
            padding: 0 4px;
            position: absolute;
            right: 15px;
            top: 50%;
            border-radius: 30px
        }
        
        #dialog-whats-next {
            width: 100%!important;
            margin: 0!important;
            position: fixed;
            top: 0;
            left: 0;
            padding: 15px;
            overflow: auto;
            height: 100%;
            z-index: 1111!important;
            display: none!important
        }
        
        .es-modal .es-content {
            background-color: #f0fafd;
            border-color: #ccc;
            box-shadow: rgba(0, 0, 0, .701961) 0 0 15px;
            font-size: 1rem;
            position: relative;
            border-radius: 3px
        }
        
        .es-modal .es-inner-content {
            padding: 10px 30px 20px
        }
        
        .es-modal .es-header {
            font-size: 1.25rem;
            letter-spacing: .5px;
            padding: 15px 0 10px;
            position: relative;
            text-align: center;
            text-transform: uppercase
        }
        
        .es-modal .linetop {
            clear: both;
            margin-top: 15px;
            overflow: hidden;
            padding-top: 10px;
            border-top: 1px solid #ccc
        }
        
        .es-modal .es-link {
            color: #1695a4;
            font-size: .875rem
        }
        
        .homepage-form .gdpr-checkbox-custom {
            background-color: rgba(255, 255, 255, .290196)
        }
        
        #id_esof_link_policy,
        #id_esof_link_terms {
            padding: 0
        }
        
        #dd_sof_policy a {
            color: #333
        }
        
        #dialog-whats-next .es-content {
            max-width: 500px
        }
        
        #dialog-whats-next button {
            float: right;
            font-size: .875rem;
            padding: 4px 20px
        }
        
        #dialog-whats-next a {
            display: inline-block;
            padding: 8px 0 0
        }
        
        #dialog-whats-next li span {
            font-size: .75rem;
            font-weight: 400;
            color: #777;
            text-shadow: none
        }
        
        #id_esof_email {
            padding-right: 40px
        }
        
        .sof-email__info {
            position: absolute;
            top: 0;
            right: 0;
            width: 40px;
            height: 100%
        }
        
        .sof-email__info__icon-loading,
        .sof-email__info__icon-question--filled {
            display: none
        }
        
        @media (max-width:480px) {
            #dialog-whats-next.es-modal {
                top: 0!important
            }
        }
        
        @media screen and (max-width:480px) {
            .sof-cell,
            .sof-label {
                display: inline-block;
                width: 100%
            }
            .sof-label {
                padding: 0 0 5px;
                text-align: left
            }
        }
        
        #header.main-header:after {
            background-image: none
        }
        
        .main-header {
            background-color: #fff;
            box-shadow: rgba(0, 0, 0, .0470588) 0 4px 0;
            display: inline-block;
            left: 0;
            padding: 1rem;
            position: fixed;
            top: 0;
            vertical-align: top;
            width: 100%;
            z-index: 12
        }
        
        .logo {
            display: block;
            float: left;
            width: 225px
        }
        
        .topnav {
            display: block;
            position: relative;
            width: auto
        }
        
        .main-menu {
            display: inline-block;
            float: right
        }
        
        .main-menu ul {
            list-style: none
        }
        
        .main-menu li,
        .main-menu ul {
            display: inline-block;
            float: left;
            margin-bottom: 0
        }
        
        .main-menu a {
            border-radius: 1px
        }
        
        .main-menu #auth_account_container,
        .main-menu .nav-link {
            color: #216d7d;
            display: inline-block;
            font-size: 1rem;
            text-transform: uppercase;
            font-weight: 400;
            margin: 0 .5rem;
            padding: 0 5px;
            position: relative;
            vertical-align: top;
            height: 55px;
            line-height: 55px
        }
        
        .main-menu #auth_account_container a {
            box-shadow: #216d7d 0 0 0 1px inset;
            padding: .5rem 1rem
        }
        
        .main-menu .nav-link:after {
            background-color: #216d7d;
            bottom: 8px;
            content: ' ';
            height: 2px;
            left: 50%;
            position: absolute;
            width: 0
        }
        
        .main-menu #auth_account_container {
            float: right;
            min-width: 122px
        }
        
        .toggle-menu {
            display: none
        }
        
        #auth_account_container {
            margin-right: 0!important;
            padding-right: 0!important
        }
        
        .short #id_esauth_myaccount_login_link {
            border-radius: 3px
        }
        
        @media screen and (max-width:960px) {
            .main-menu ul {
                background-color: #216d7d;
                left: 0;
                position: fixed;
                top: -150%;
                width: 100%;
                z-index: 1
            }
            .main-menu li {
                position: relative;
                text-align: center;
                width: 18%
            }
            .close-menu:after,
            .main-menu li a:after,
            .main-menu li:first-child:after {
                display: none
            }
            .main-menu li:after {
                background-color: rgba(255, 255, 255, .298039);
                content: ' ';
                height: 60%;
                left: 2.5px;
                position: absolute;
                top: 20%;
                width: 1px
            }
            .main-menu .nav-link {
                color: #fff;
                height: 87px;
                line-height: 87px;
                width: 100%;
                margin: 0 2px
            }
            .main-menu li.close-menu {
                background-color: rgba(0, 0, 0, .247059);
                height: 87px;
                width: 10%
            }
            .main-menu li.close-menu:before {
                content: ' ';
                height: 20px;
                left: 50%;
                margin: -10px 0 0 -10px;
                position: absolute;
                top: 50%;
                width: 21px;
                background-position: -180px -113px
            }
            .main-menu #auth_account_container a {
                height: 40px;
                line-height: 150%;
                vertical-align: middle
            }
            .toggle-menu {
                background-color: transparent;
                display: inline-block;
                font-weight: 400;
                height: 40px;
                margin-top: 10px;
                padding: 0;
                width: 50px;
                background-position: initial initial;
                background-repeat: initial initial
            }
            .toggle-menu span {
                background-color: #555;
                box-shadow: rgba(0, 0, 0, .0980392) 0 1px 0 inset;
                height: 3px;
                left: 25%;
                margin-top: -1px;
                position: absolute;
                top: 50%;
                width: 50%;
                border-radius: 1px
            }
            .toggle-menu span:after,
            .toggle-menu span:before {
                background-color: #555;
                box-shadow: rgba(0, 0, 0, .0980392) 0 1px 0 inset;
                content: ' ';
                height: 3px;
                left: 0;
                position: absolute;
                top: -8px;
                width: 100%;
                border-radius: 1px
            }
            .toggle-menu span:before {
                top: 8px
            }
        }
        
        @media screen and (max-width:680px) {
            .main-header {
                background-color: transparent;
                text-align: center;
                padding: 0 .625rem;
                height: auto
            }
            .main-header .logo {
                margin-top: 13px;
                width: 130px
            }
            .topnav {
                display: block;
                text-align: center;
                width: 100%
            }
            .main-menu li {
                width: 100%
            }
            .main-menu .nav-link {
                color: #fff;
                height: auto;
                line-height: 120%;
                padding: 1rem 0;
                width: 100%
            }
            .main-menu li.close-menu {
                height: 45px;
                width: 100%
            }
            .main-menu li:after {
                height: 1px;
                left: 0;
                top: 0;
                width: 100%
            }
            .toggle-menu {
                margin-top: 9px
            }
            .main-menu #auth_account_container a {
                background-color: #1695a4;
                color: #fff
            }
        }
        
        @media screen and (max-width:480px) {
            .toggle-menu {
                left: 50%;
                margin-left: -17px;
                position: absolute
            }
            .main-menu {
                width: 100%;
                float: none;
                display: block
            }
            .main-menu #auth_account_container {
                float: right;
                min-width: 0;
                padding: 0;
                margin: 0
            }
        }
        
        @media screen and (max-device-width:568px) and (min-device-width:320px) and (orientation:landscape) {
            .main-menu .nav-link {
                padding: .5rem 0
            }
        }
        
        .sec-header {
            bottom: -40px;
            position: relative;
            font-weight: 300
        }
        
        .section {
            display: inline-block;
            padding: 2rem;
            vertical-align: top;
            width: 100%
        }
        
        #dialog-whats-next ul {
            box-shadow: #f8f8f8 1px 0 0 inset;
            list-style: none;
            margin: 0 0 0 15px;
            padding: 10px 0 0;
            border-left: 1px solid #b8c2d3
        }
        
        #dialog-whats-next li {
            font-size: 14px;
            font-weight: 400;
            line-height: 135%;
            padding: 0 0 20px 30px;
            position: relative;
            text-shadow: none
        }
        
        #dialog-whats-next li:last-of-type {
            font-style: italic;
            line-height: 15px;
            padding-bottom: 0
        }
        
        #dialog-whats-next li:before {
            content: ' ';
            background-repeat: initial initial;
            background-color: #fff;
            border: 1px solid #80a4ab;
            content: '';
            display: block;
            height: 10px;
            left: -6px;
            position: absolute;
            top: 3px;
            width: 10px;
            z-index: 2;
            background-position: initial initial;
            background-repeat: initial initial;
            border-radius: 50%
        }
        
        #dialog-whats-next li:last-of-type:before {
            background-color: #d7dde7;
            top: 3px;
            background-position: initial initial;
            background-repeat: initial initial
        }
        
        #dialog-whats-next .linetop button {
            float: right;
            font-weight: 400;
            margin-left: 20px;
            padding: 7px 20px
        }
        
        .orderform-short {
            float: right;
            padding: 3.5rem 0 1.5rem;
            width: 40%
        }
        
        .esof-select-wrap {
            position: relative
        }
        
        .esof-select-wrap:after {
            content: '';
            width: 0;
            height: 0;
            position: absolute;
            right: 0;
            top: 50%;
            margin: -2px 12px 0 0;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-top: 4px solid #1695a4
        }
        
        #id_esof_email_label {
            padding-top: 2px
        }
        
        .clearfix:after {
            clear: both
        }
        
        .clearfix:after,
        .clearfix:before {
            content: '';
            display: table
        }
        
        @media screen and (max-width:960px) {
            .orderform-short {
                width: 48%
            }
        }
        
        @media screen and (max-width:768px) {
            body {
                font-size: 1rem
            }
        }
        
        @media screen and (max-width:768px) and (min-width:680px) {
            .orderform-short {
                padding: 2.6rem 0 0
            }
        }
        
        @media screen and (max-width:680px) {
            .main {
                padding-top: 55px
            }
            .sec-header {
                bottom: 0;
                opacity: 1
            }
            .orderform-short {
                padding-bottom: 2rem
            }
            .section {
                padding: 0
            }
            .section .container {
                padding: .5rem 1.5rem 1.5rem
            }
            .es-form-block {
                margin: 0 auto;
                max-width: 330px
            }
            .section .sec-header {
                font-size: 2.3rem;
                margin-bottom: 15px
            }
            .main .section p {
                font-size: 1rem
            }
        }
        
        @media screen and (max-width:480px) {
            body,
            html {
                font-size: 15px
            }
            .btn_f_submit,
            .button,
            button {
                font-size: 1.25rem
            }
            .orderform-short {
                padding: .5rem 0 0
            }
            .es-modal {
                left: 5%;
                margin-left: 0;
                width: 90%
            }
            .es-inner-content {
                padding: 10px 15px 20px
            }
            .section .sec-header {
                font-size: 32px
            }
        }
        
        @media (max-width:425px) {
            .es-inner-content {
                padding-top: 0!important
            }
        }
        
        @font-face {
            font-family: Dosis;
            font-style: normal;
            font-weight: 300;
            src: local(Dosis Light), local(Dosis-Light), url(https://fonts.gstatic.com/s/dosis/v6/7aJzV14HzAOiwNTiPgucGfesZW2xOQ-xsNqO47m55DA.woff2) format('woff2')
        }
        
        @font-face {
            font-family: Dosis;
            font-style: normal;
            font-weight: 400;
            src: local(Dosis Regular), local(Dosis-Regular), url(https://fonts.gstatic.com/s/dosis/v6/4hYyXH_8WmbBLamf6WjLwg.woff2) format('woff2')
        }
        
        @font-face {
            font-family: Dosis;
            font-style: normal;
            font-weight: 700;
            src: local(Dosis Bold), local(Dosis-Bold), url(https://fonts.gstatic.com/s/dosis/v6/22aDRG5X9l7obljtz7tihvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2')
        }
        
        @font-face {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 300;
            src: local(Open Sans Light), local(OpenSans-Light), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTegdm0LZdjqr5-oayXSOefg.woff2) format('woff2')
        }
        
        @font-face {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            src: local(Open Sans), local(OpenSans), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2')
        }
        
        @font-face {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 700;
            src: local(Open Sans Bold), local(OpenSans-Bold), url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzOgdm0LZdjqr5-oayXSOefg.woff2) format('woff2')
        }
        
        @font-face {
            font-family: 'Open Sans';
            font-style: italic;
            font-weight: 400;
            src: local(Open Sans Italic), local(OpenSans-Italic), url(https://fonts.gstatic.com/s/opensans/v13/xjAJXh38I15wypJXxuGMBo4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2')
        }
        
        .index .section-form {
/*
            background-image: linear-gradient(to right, #f3d44f, #f6d77e);
            background-color: #f8da73;
            overflow: hidden;
            padding: 0 2rem;
            position: relative;
            background-position: initial initial;
            background-repeat: initial initial;
*/
        }
        
        .index .section-form .container {
            position: relative;
            z-index: 1
        }
        
        .index .section-form:after {
            background-color: #edd17a;
            content: ' ';
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 50%;
            background-position: initial initial;
            background-repeat: initial initial
        }
        
        .section-form .sec-form-info:after,
        .section-form .sec-form-info:before {
            border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) #edd17a;
            border-style: solid;
            border-width: 200px 0 200px 40px;
            content: ' ';
            display: block;
            height: 0;
            position: absolute;
            right: -40px;
            top: 0;
            width: 0
        }
        
        .section-form .sec-form-info:after {
            border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) #eac962;
            border-width: 205px 0 205px 42px;
            right: -43px;
            top: -3px;
            z-index: -1
        }
        
        .index .howitworkslink {
            background-color: transparent;
            box-shadow: #216d7d 0 0 0 1px inset;
            color: #216d7d;
            font-weight: 400;
            line-height: 130%
        }
        
        .index .howitworkslink:before {
            border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) #216d7d;
            border-style: solid;
            border-width: 10px;
            content: ' ';
            display: inline-block;
            height: 0;
            margin: 0 10px 0 -10px;
            vertical-align: middle;
            width: 0
        }
        
        .sec-form-info {
            color: #51636f;
            display: inline-block;
            padding: 4rem 2rem 4rem 0;
            position: relative;
            width: 50%;
            z-index: 1
        }
        
        .sec-form-info h1 {
            font-size: 2.5rem;
            font-weight: 300;
            line-height: 110%
        }
        
        .sec-form-info p {
            font-size: 1.125rem;
            margin: 2rem 0 3rem
        }
        
        .computer-box {
            height: 235px;
            left: 50%;
            margin-left: -100px;
            position: absolute;
            top: -100px;
            width: 200px;
            z-index: 1
        }
        
        .computer {
            background-color: #a6dae9;
            height: 200px;
            left: 0;
            overflow: hidden;
            position: absolute;
            top: 0;
            -webkit-transform: scale(0);
            width: 200px;
            border-radius: 50%
        }
        
        .computer:after {
            background-color: #8fc4d7;
            bottom: 0;
            content: ' ';
            height: 45px;
            left: 0;
            position: absolute;
            width: 100%
        }
        
        .computer span {
            display: block;
            height: 109px;
            margin: 47px auto 0;
            opacity: 0;
            width: 134px;
            background-position: -134px 0
        }
        
        .computer span:after {
            bottom: 76px;
            content: ' ';
            height: 0;
            left: 50%;
            margin-left: -37.5px;
            position: absolute;
            width: 73px;
            background-position: -42px -66px
        }
        
        .computer span:before {
            content: ' ';
            height: 27px;
            left: 50%;
            margin-left: -505px;
            position: absolute;
            top: 80px;
            width: 27px;
            z-index: 1;
            background-position: -9px -118px
        }
        
        .keyboard {
            bottom: 16px;
            content: ' ';
            height: 64px;
            left: 50%;
            margin-left: -40px;
            opacity: 0;
            position: absolute;
            width: 88px;
            z-index: 1;
            background-position: -43px 0
        }
        
        @media screen and (max-width:960px) {
            .sec-form-info {
                padding: 2rem 2rem 2rem 0;
                width: 50%;
                z-index: 1
            }
        }
        
        @media screen and (max-width:768px) and (min-width:680px) {
            .sec-form-info p {
                font-size: 1rem;
                margin: 1.5rem 0
            }
        }
        
        @media screen and (max-width:680px) {
            .orderform-short,
            .sec-form-info {
                height: auto;
                width: 100%
            }
            .computer-box,
            .section-form .sec-form-info:before,
            .section-form:after {
                display: none
            }
            .index .section-form {
                padding: 0
            }
            .main .section-form .sec-form-info:after {
                background-color: #edd17a;
                border: none;
                box-sizing: content-box;
                content: ' ';
                height: 100%;
                left: -1.5rem;
                padding: 1.5rem 0 0 3rem;
                position: absolute;
                top: -1.5rem;
                width: 100%;
                z-index: -1
            }
            .sec-form-info {
                padding: 0 0 1.5rem
            }
            .section-form .container {
                display: inline-block;
                padding-top: 1rem;
                vertical-align: top
            }
            .sec-form-info p {
                font-size: 1rem;
                margin: 1.5rem 0
            }
        }
        
        .index #es_form_esof .display_none,
        .index #id_name_submitted,
        .index .esof h2 {
            display: none
        }
        
        .index #pages_qty_hint {
            display: inline-block;
            font-size: 14px;
            font-weight: 400;
            margin-left: 15px;
            vertical-align: middle
        }
        
        .index .esof {
            display: block;
            line-height: 110%;
            max-width: 1020px;
            position: relative
        }
        
        .index .esof input,
        .index .esof select {
            -webkit-appearance: none;
            background-color: rgba(255, 255, 255, .290196);
            border: 1px solid rgba(0, 0, 0, .168627);
            box-shadow: rgba(255, 255, 255, .188235) 0 1px 0 0 inset, rgba(0, 0, 0, .0980392) 2px 2px 0 0;
            color: #51636f;
            font-size: .9rem;
            height: auto;
            padding: 11px;
            width: 100%;
            border-radius: 3px
        }
        
        .index .esof input[type=checkbox] {
            width: auto;
            margin: 0 5px 0 0
        }
        
        .index .esof select option {
            padding: 0 5px
        }
        
        .index #contentspin {
            display: inline-block;
            position: relative;
            width: 62%
        }
        
        .index #id_esof_deadline_date,
        .index #id_esof_pages_qty {
            margin: 0
        }
        
        .index .esof #id_esof_pages_qty {
            text-align: center
        }
        
        .index #dd_sof_deadline_date>span {
            display: inline
        }
        
        .index #id_esof_email_label {
            padding-top: 10px;
            padding-bottom: 5px
        }
        
        .index .esof .buttonspin {
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAACCAYAAABR7VzxAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAN1wAADdcBQiibeAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAAaSURBVAiZY1TMrd3JwMDgxkAe2MVEpkY4AAAzFwLIkPQ5FAAAAABJRU5ErkJggg==);
            background-color: rgba(255, 255, 255, .2);
            border-color: rgba(0, 0, 0, .168627);
            border-style: solid;
            border-width: 0 1px 0 0;
            height: 2.8rem;
            left: 1px;
            padding: 0;
            position: absolute;
            text-indent: -9999px;
            top: 1px;
            width: 3rem;
            z-index: 1;
            background-position: 50% 50%;
            background-repeat: no-repeat no-repeat;
            border-radius: 2px 0 0 2px
        }
        
        .index .esof .buttonspin.inc {
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAN1wAADdcBQiibeAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAABaSURBVDiNY/z//z8DLqCUV7eJgYGB4d6kJj9calhw6oYANwLyDEyEFIwaQBgwKubWbmLAHdrsUPonDvldlLuAQEL6wcDAwHBvUhMHLjUDH4jDwABCuXEXIQMAQL0S2UazovIAAAAASUVORK5CYII=);
            border-width: 0 0 0 1px;
            left: auto;
            right: 1px;
            border-radius: 0 2px 2px 0
        }
        
        .index #dd_sof_deadline_date #deadline_hint {
            display: inline-block;
            font-size: .875rem;
            font-weight: 400;
            margin: 5px 0 0 15px;
            text-align: center
        }
        
        .index .input_button.btn_f_submit {
            background-image: linear-gradient(45deg, #3a7486, #1695a4);
            background-size: 100% 200%;
            border-color: transparent;
            font-size: 1rem;
            font-weight: 700;
            padding: 11px 40px;
            width: 100%;
            opacity: .9;
            background-position: initial initial;
            background-repeat: initial initial
        }
        
        .index #open-whats-next {
            float: right;
            text-align: right;
            width: 65%
        }
        
        .index #open-whats-next a {
            border-bottom-width: 1px;
            border-bottom-style: dashed;
            color: #216d7d;
            font-size: .875rem;
            font-weight: 400
        }
        
        @media screen and (max-width:480px) {
            .sec-form-info p {
                font-size: 1.125rem;
                margin: 1rem 0
            }
            .index .input_button.btn_f_submit {
                font-size: 1.25rem
            }
            .dt-sof-marketing,
            .dt-sof-policy {
                display: none
            }
        }
        
        .section-stats {
            background-color: #fff;
            padding: 0 1.5rem;
            position: relative
        }
        
        .section-stats h2 {
            color: #216d7d;
            font-size: 2.625rem
        }
        
        .section-stats .container {
            height: 500px;
            padding: 3rem 0 0;
            position: relative;
            z-index: 1
        }
        
        .section-stats .container:after {
            background-color: #f0fafd;
            content: ' ';
            height: 100%;
            left: -150%;
            position: absolute;
            top: 0;
            width: 200%;
            z-index: -1
        }
        
        .section-stats .container:before {
            border-color: #f0fafd #fff #f0fafd #f0fafd;
            border-style: solid;
            border-width: 250px 40px;
            content: ' ';
            display: block;
            height: 0;
            margin-left: -40px;
            position: absolute;
            right: 50%;
            top: 0;
            width: 0
        }
        
        .sec-stats-info {
            display: inline-block;
            float: right;
            position: relative;
            width: 46%
        }
        
        .essayshark_stat {
            list-style: none;
            margin-top: 30px;
            width: 100%
        }
        
        .essayshark_stat li {
            display: inline-block;
            float: left;
            font-size: 1rem;
            height: 8.75rem;
            padding: 20px;
            margin: 0;
            text-align: center;
            text-transform: uppercase;
            width: 50%
        }
        
        .essayshark_stat li.orders_count {
            border-bottom: 2px solid #e3f6fc;
            border-right: 2px solid #e3f6fc
        }
        
        .essayshark_stat li.writers_online {
            margin: -2px 0 0 -2px;
            border-left: 2px solid #e3f6fc;
            border-top: 2px solid #e3f6fc
        }
        
        .essayshark_stat li.writers_count,
        .essayshark_stat li.writers_online {
            padding-bottom: 0
        }
        
        .essayshark_stat li.orders_count,
        .essayshark_stat li.quality_score {
            padding-top: 0
        }
        
        .essayshark_stat li b {
            color: #1fbba6;
            display: block;
            font-size: 3.125rem;
            font-weight: 400;
            line-height: 130%;
            position: relative
        }
        
        li.quality_score b:after {
            content: 'out of 10';
            display: block;
            font-size: 16px;
            font-weight: 400;
            position: absolute;
            right: 0;
            top: 0
        }
        
        .section-stats .graph {
            bottom: 0;
            height: 98px;
            opacity: .1;
            position: absolute;
            right: 0;
            width: 221px;
            background-position: 0 -167px
        }
        
        @media screen and (max-width:960px) {
            li.quality_score b:after {
                top: -28px
            }
        }
        
        @media screen and (max-width:860px) {
            .essayshark_stat li b {
                font-size: 26px
            }
            .essayshark_stat li {
                -webkit-box-direction: normal;
                -webkit-box-orient: horizontal;
                display: -webkit-flex;
                -webkit-flex-flow: column wrap;
                font-size: 14px;
                height: auto;
                -webkit-justify-content: center;
                line-height: 100%;
                padding: 20px 10px
            }
            .essayshark_stat li.orders_count,
            .essayshark_stat li.quality_score {
                padding-top: 20px
            }
            .essayshark_stat li.writers_count,
            .essayshark_stat li.writers_online {
                padding-bottom: 20px
            }
            li.quality_score b:after {
                left: 20px;
                right: auto;
                top: -28px;
                width: 65px
            }
        }
        
        @media screen and (max-width:680px) {
            .section-stats .container {
                height: auto;
                width: 100%;
                display: inline-block;
                padding: .5rem 0 1.5rem;
                vertical-align: top
            }
            .section-stats .container:after,
            .section-stats .container:before {
                display: none
            }
            .section-stats:after {
                background-color: #f0fafd;
                content: ' ';
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                width: 50%;
                z-index: 0
            }
            .essayshark_stat {
                margin-top: 0
            }
        }
        
        @media screen and (max-width:480px) {
            .sec-stats-info {
                margin-bottom: 0;
                width: 100%
            }
            .section-stats:after {
                display: none
            }
            li.quality_score b:after {
                right: auto;
                left: 20px;
                font-size: 12px
            }
        }
        
        .sec-header.header-animated {
            bottom: 0
        }
        
        .support-description {
            font-size: .875rem;
            line-height: 140%;
            display: none
        }
        
        .choose-us-block {
            float: left;
            width: 50%
        }
        
        .choose-us-block h2,
        .norton_security {
            padding-left: 4.6875rem
        }
        
        .norton_security {
            margin-top: 1rem;
            max-width: 20rem;
            text-align: center;
            float: left
        }
        
        .norton_security img {
            padding: 0 10px;
            background-color: #fff
        }
        
        .choose-us-block ul {
            margin-top: 3rem
        }
        
        .choose-us-block li {
            box-sizing: border-box;
            font-size: 1.125rem;
            line-height: 130%;
            list-style: none;
            margin-bottom: 1rem;
            max-width: 20rem;
            min-height: 3.125rem;
            padding-left: 4.6875rem;
            position: relative
        }
        
        .choose-us-block .icon:after {
            content: ' ';
            left: 0;
            position: absolute;
            top: 3px
        }
        
        .choose-us-block .icon-lamp:after {
            height: 42px;
            width: 42px;
            top: -2px;
            background-position: 0 0
        }
        
        .choose-us-block .icon-price:after {
            height: 33px;
            left: 5px;
            width: 33px;
            background-position: -5px -44px
        }
        
        .choose-us-block .icon-security:after {
            height: 37px;
            left: 5px;
            width: 33px;
            background-position: -5px -79px
        }
        
        @media screen and (max-width:768px) {
            .choose-us-block h2,
            .norton_security {
                padding-left: 0
            }
        }
        
        @media screen and (max-width:768px) and (min-width:680px) {
            .choose-us-block {
                width: 40%
            }
        }
        
        @media screen and (max-width:680px) {
            .choose-us-block li {
                padding: 0 1rem 0 0
            }
            .choose-us-block .icon:after {
                display: none
            }
            .choose-us-block ul {
                margin-top: 0
            }
        }
        
        @media screen and (max-width:480px) {
            .choose-us-block {
                margin-bottom: 0;
                width: 100%
            }
            .choose-us-block li {
                max-width: 100%;
                padding-left: 4.6875rem
            }
            .choose-us-block .icon:after {
                display: block
            }
            .index .norton_security {
                padding-left: 0;
                width: 100%;
                max-width: 100%;
                text-align: center
            }
            .index .norton_security img {
                padding: 0 10px;
                background-color: #fff;
                margin: 0 0 20px;
                display: inline-block
            }
        }
        
        .es-modal,
        .orderform-short,
        .sidebar {
            display: none
        }
        
        #id_esauth_myaccount_login_link {
            box-shadow: 0 0 0 1px #216d7d inset;
            padding: .5rem 1rem;
            border-radius: 3px;
            font-size: 1rem;
            text-transform: uppercase;
            font-weight: 400;
            font-family: Dosis, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif
        }
        
        .main-menu .nav-link:after {
            -webkit-transform: translate(-50%, 0);
            -moz-transform: translate(-50%, 0);
            transform: translate(-50%, 0)
        }
        
        .main-menu #auth_account_container a {
            background-color: #1695a4;
            color: #fff
        }
        
        .es-cookie {
            display: none;
            position: fixed;
            bottom: 25px;
            left: 25px;
            background-color: #fff;
            padding: 18px 25px;
            border-radius: 3px;
            border: 1px solid #ddd;
            box-shadow: 2px 2px 0 0 rgba(0, 0, 0, .1);
            max-width: 555px;
            width: 100%;
            z-index: 11111!important;
            font-weight: 400!important;
            text-align: left!important;
            box-sizing: border-box!important
        }
        
        .es-cookie--shark {
            padding-left: 100px;
            background-image: url(https://cdn3.essayshark.com/w3t_img/images/cookie.png);
            background-repeat: no-repeat;
            background-size: 58px 58px;
            background-position: 23px 35px
        }
        
        .es-cookie--show {
            display: block
        }
        
        .es-cookie__title {
            color: #415458!important;
            font-weight: 700!important;
            margin: 0 0 7px!important;
            padding: 0!important;
            font-size: 14px!important;
            line-height: 1.35!important
        }
        
        .es-cookie__block {
            display: flex;
            align-items: flex-start
        }
        
        .es-cookie__description {
            color: #415458!important;
            margin: 0!important;
            padding: 0 20px 0 0!important;
            font-size: 14px!important;
            line-height: 1.35!important
        }
        
        .es-cookie__link {
            color: #15b0bf!important;
            padding: 0!important;
            text-decoration: underline;
            margin: 0!important
        }
        
        .es-cookie--shark .es-cookie__link {
            display: block!important
        }
        
        .es-cookie__button {
            text-transform: uppercase!important;
            margin: 0!important;
            padding: 12px 25px!important;
            color: #15b0bf!important;
            border: 1px solid #73d0d9!important;
            border-radius: 3px!important;
            background-color: #fff!important;
            font-weight: 400!important;
            outline: 0!important;
            transition: .1s all ease-in-out!important;
            font-size: 14px!important;
            box-shadow: none!important;
            cursor: pointer;
            flex: 0 0 auto;
            text-shadow: none!important;
            min-height: auto!important;
            line-height: 1.35!important
        }
        
        .es-cookie__button:hover {
            background-color: #6ac6cf!important;
            color: #fff!important
        }
        
        .es-cookie__button:active {
            background-color: #15b0bf!important;
            color: #fff!important
        }
        
        .es-cookie__button:focus {
            box-shadow: 0 0 0 2px rgba(115, 208, 217, .5)!important
        }
        
        @media (max-width:580px) {
            .es-cookie {
                padding: 15px 18px!important;
                max-width: 300px;
                width: 100%;
                left: 50%!important;
                transform: translateX(-50%)!important;
                bottom: 10px
            }
            .es-cookie__block {
                flex-wrap: wrap
            }
            .es-cookie__description {
                flex-basis: 100%;
                padding-right: 0!important;
                margin-bottom: 15px!important;
                font-size: 13px!important
            }
            .es-cookie--shark .es-cookie__link {
                display: inline-flex!important;
                margin-top: 0!important
            }
            .es-cookie__button {
                min-width: 150px!important;
                padding-top: 10px!important;
                padding-bottom: 10px!important
            }
            .es-cookie--shark {
                background-size: 48px 48px;
                background-position: right 22px bottom 15px
            }
        }
        
        .es-loader {
            min-height: 50px;
            min-width: 50px
        }
        
        .es-loader * {
            opacity: .7;
            z-index: 0
        }
        
        .es-loader:after,
        .es-loader:before {
            bottom: 0;
            content: ' ';
            display: block;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 1
        }
        
        .es-loader:after {
            -webkit-animation: 1s infinite rotate360;
            animation: 1s infinite rotate360;
            border-radius: 100%;
            box-shadow: -5px -5px #1fbba6, 5px -5px #22ccb5, 5px 5px #59e3d1, -5px 5px #adf1e8;
            height: 7px;
            margin: auto;
            width: 7px
        }
        
        @-webkit-keyframes rotate360 {
            0% {
                -webkit-transform: rotate(360deg)
            }
            100% {
                -webkit-transform: rotate(0)
            }
        }
        
        @keyframes rotate360 {
            0% {
                transform: rotate(360deg)
            }
            100% {
                transform: rotate(0)
            }
        }