#loader {
	transition: all .3s ease-in-out;
    opacity: 1;
    visibility: visible;
    position: fixed;
    height: 100vh;
    width: 100%;
    background: #fff;
    z-index: 90000
}
#loader.fadeOut {
    opacity: 0;
    visibility: hidden
}
.spinner {
    width: 40px;
    height: 40px;
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    background-color: #333;
    border-radius: 100%;
    -webkit-animation: sk-scaleout 1s infinite ease-in-out;
    animation: sk-scaleout 1s infinite ease-in-out
}
@-webkit-keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0)
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 0
    }
}

@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0)
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0
    }
}
.masonry-item .file-field.medium .file-path-wrapper {
  height: 3rem; }
  .file-field.medium .file-path-wrapper .file-path {
    height: 2.8rem; }

.masonry-item .file-field.big-2 .file-path-wrapper {
  height: 3.7rem; }
  .file-field.big-2 .file-path-wrapper .file-path {
    height: 3.5rem; }
.masonry-item .foater{
  height:40px;
}
.form-group input[type=text],input[type=email],input[type=password]{
  height:40px;
  box-sizing: border-box;;
  padding: 10px 20px;
}
.relaix{
  height:100%;
  width:100%;
  position: relative;
  background: #0000007a;
}
.titl{
	font-size: 25px;
	font-family: 'Dosis',-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",sans-serif;
	font-weight:bolder;
}
.placers{
	font-family: 'Dosis',-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",sans-serif;
	font-weight:bolder;
}
.sliderComentary{
	height:50%;
	width:60%;
	background: #2196f3;
	position: absolute;
	left:50%;
	top:50%;
	box-shadow: 1px 1px 20px 4px #3c2c1d;
    background: #ffffff;
    border-radius: 2px;
	-moz-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding:20px;
}
.sliderComentary h1{
	font-size: 25px;
	font-family: 'Dosis',-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",sans-serif;
	font-weight:bolder;
	font-size: 2.5rem;
    font-weight: 300;
	color: #2196f3;
}
.sliderComentary p{
	color:black;
	font-size: 18px;
	font-family: 'Dosis',-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",sans-serif;
}
.sliderComentary span{
	color:black;
	position:relative;
	font-size:15px;
	font-family:cabin,sans-serif;
}
.sliderComentary .diver span::before{
	content: "";
	position: absolute;
	left:0px;
	bottom:-10px;
	border-spacing: 0px;
	border:2px solid #2196f3;
	border-width:medium;
	width:30px;
}
.log{
	cursor: pointer;
    position: absolute;
    bottom: 20px;
    right: 20px;
}
#loginnerform{
	height: 100%;
    width: 100%;
    background: #0000006b;
    position: fixed;
    top: 0px;
    left: 0px;
	z-index: 1000;
	display: none;
}
#loginnerform .inersub{
	height:400px;
	width:350px;
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	background:white;
	border-radius:2px;
	
}
#loginnerform .inersub .loginheader{
	width:100%;
	text-align: center;
	box-sizing: border-box;
	padding:20px;
	font-family: 'Dosis',-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",sans-serif;
	color:#2196f3;
}
#loginnerform .inersub .loginheader .closerDiverLog{
	height: 20px;
    width: 20px;
    border-radius: 100%;
    text-align: center;
    color: #2196f3;
    background: white;
    box-shadow: 0px 0px 12px #2196f3;
    right: 0px;
    top: 20px;
    position: absolute;
    transform: translate(-50%,-50%);
    line-height: 15px;
    font-weight: bolder;
	cursor: pointer;
}
#loginnerform .inersub .loginheader h3{
	font-family: 'Dosis',-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",sans-serif;
	font-size: 1.25rem;
    letter-spacing: .5px;
    padding: 15px 0 10px;
    position: relative;
    text-align: center;
    text-transform: uppercase;

}
#loginnerform .inersub .signphome{
 	width:80%;
	margin: auto;
}
.peer-greed{
    font-family: cabin,sans-serif;
}
#mainContent .innerImager{
    height: 100px;
    position: relative;
	box-sizing: border-box;
	padding: 15px;
}
#mainContent .innerImager .in{
	height:100%;
	width:100%;
	background: white;
	transition: all ease-in-out 1s;
	border-radius:2px;
	cursor: pointer;
}
#mainContent .innerImager .in:hover{
	box-shadow: 0px 0px 15px 0px #0894d8bd;
    transition: all ease-in-out 1s;
}
#mainContent .innerImager .in img{
	height: 66px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#mainContent .visacardHolder{
	display:block;
	padding: 20px;
	box-sizing: border-box;
}
#mainContent .mastercardHolder{
	display:none;
	box-sizing: border-box;
}
#mainContent .paypalHolder{
	display:none;
	box-sizing: border-box;
}
#mainContent .in_input{
	margin-top:25px;
}
#mainContent .in_input input{
	width:85%;
	margin:auto;
}
#mainContent .in_input label{
	font-family: 'Dosis',-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",sans-serif;
	font-weight:bolder;
	color:black;
	font-size: 1.25rem;
    letter-spacing: .5px;
}